
# Gopkg.toml example
#
# Refer to https://github.com/golang/dep/blob/master/docs/Gopkg.toml.md
# for detailed Gopkg.toml documentation.
#
# required = ["github.com/user/thing/cmd/thing"]
# ignored = ["github.com/user/project/pkgX", "bitbucket.org/user/project/pkgA/pkgY"]
#
# [[constraint]]
#   name = "github.com/user/project"
#   version = "1.0.0"
#
# [[constraint]]
#   name = "github.com/user/project2"
#   branch = "dev"
#   source = "github.com/myfork/project2"
#
# [[override]]
#  name = "github.com/x/y"
#  version = "2.4.0"


[[constraint]]
  name = "github.com/Azure/azure-sdk-for-go"
  version = "12.2.0-beta"

[[constraint]]
  name = "github.com/Azure/go-autorest"
  version = "9.7.1"

[[constraint]]
  name = "github.com/Jeffail/gabs"
  version = "1.0.0"

[[constraint]]
  name = "github.com/aws/aws-sdk-go"
  version = "1.12.61"

[[constraint]]
  name = "github.com/joyent/triton-go"
  version = "0.5.2"

[[constraint]]
  name = "github.com/manifoldco/promptui"
  revision = "4baa1188b83a2bbddbbc4745baf85aec26edb526"

[[constraint]]
  branch = "master"
  name = "github.com/mitchellh/go-homedir"

[[constraint]]
  name = "github.com/spf13/cobra"
  version = "0.0.1"

[[constraint]]
  name = "github.com/spf13/viper"
  version = "1.0.0"

[[constraint]]
  branch = "master"
  name = "golang.org/x/oauth2"

[[constraint]]
  branch = "master"
  name = "google.golang.org/api"
